/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;800&family=Roboto+Slab&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.marquee {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
}
.track:hover {
  animation-play-state: paused;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
